---
title: Support
layout: default
bodyClass: "page-support"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>
        {% include call.html show_button=false %}
        <div class="content mt-4">
          <form class="support-form" id="support-form" onsubmit="SendForm(event)">
            <div class="form-container">
              <h2 class="form-title">Contact Us</h2>
              <div class="form-column">
                <div class="input input-first-name">
                  <label for="first-name">Fist Name</label>
                  <input
                    type="text"
                    id="first-name"
                    name="first-name"
                    placeholder="First Name"
                    required
                  />
                </div>
                <div class="input input-last-name">
                  <label for="last-name">Last Name</label>
                  <input
                    type="text"
                    id="last-name"
                    name="last-name"
                    placeholder="Last Name"
                    required
                  />
                </div>
                <div class="input input-email">
                  <label for="email">E-mail</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Company E-mail"
                    required
                  />
                </div>
                <div class="input input-company">
                  <label for="company">Company name</label>
                  <input
                    type="text"
                    id="company"
                    name="company"
                    placeholder="Company name"
                    required
                  />
                </div>
                <div class="input input-problem">
                  <label for="problem">Comments</label>
                  <textarea
                    id="problem"
                    name="problem"
                    rows="5"
                    placeholder="Notes, comments, suggestions, etc..."
                    required
                  ></textarea>
                </div>
              </div>
            </div>
            <button class="submit-button" type="submit">Submit <img src="/images/chevron-right.svg" alt="right arrow"></button>
          </form>
          <!-- Modal de sucesso -->
<div class="modal fade" id="modal-success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sucesso</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Sua solicitação foi enviada com sucesso.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal de erro -->
<div class="modal fade" id="modal-error">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Erro</h4>
        <button type="button" class="close" data-dismiss="modal" onclick="">&times;</button>
      </div>
      <div class="modal-body">
        <p>Ocorreu um erro ao enviar sua solicitação. Tente novamente mais tarde.</p>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
